<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index template</title>

</head>
<body>
    {% include "header/header.html"%}
  
    <h1>Pagina index con los datos de STUDENTS</h1>
    
    <div>
        <label>Nom: </label> {{estudiantes.name}}
    </div>
    <div>
        <label>Cogom: </label> {{estudiantes.surname}}
    </div>
    <div>
        <label>Edat: </label> {{estudiantes.age}}
    </div>
    <div>
        <label>Clase: </label> {{estudiantes.clase}}
    </div>
    
</body>
</html>