<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index template</title>

</head>
<body>
    {% include "header/header.html"%}
    <h1>Pagina index con los datos de TEACHERS</h1>
    
    <div>
        <label>Nom: </label> {{profes.name}}
    </div>
    <div>
        <label>Cogom: </label> {{profes.surname}}
    </div>
    <div>
        <label>Edat: </label> {{profes.age}}
    </div>
    <div>
        <label>Asignatura: </label> {{profes.asignatura}}
    </div>
</body>
</html>